pip install django

配置数据库
pip install pymysql
myblog-settings:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.mysql',
            'NAME': 'myblog',
            'USER': "root",
            'PASSWORD': 'chenhui',
            'HOST': "localhost",
            'PORT': '3306',
        }
    }
myblog-__init--:
    import pymysql


    pymysql.install_as_MySQLdb()

添加模型

数据库迁移

配置admin
创建超级用户
iuntouch
huch7280@qq.com
asjk4589zn13

修改settings汉化

注册模型

插入数据
